.*
*.o
*.lo
config.*
libtool
Makefile
stamp-h*
*.la
*.a
libevent-1.4.11-stable/event-config.h
libevent-1.4.11-stable/sample/event-test
libevent-1.4.11-stable/sample/signal-test
libevent-1.4.11-stable/sample/time-test
libevent-1.4.11-stable/test/bench
libevent-1.4.11-stable/test/regress
libevent-1.4.11-stable/test/test-eof
libevent-1.4.11-stable/test/test-init
libevent-1.4.11-stable/test/test-time
libevent-1.4.11-stable/test/test-weof
autom4te.cache
